<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulk Warranty Verify</title>
   
</head>
<body>
    <div class="warranty-info">
        <h2>All Warranties</h2>
        <div>
            <button onclick="filterWarranties('verified')">Verified</button>
            <button onclick="filterWarranties('unverified')">Unverified</button>
        </div>
        <ul id="warrantyList">
            <% groupedWarranties.forEach(group => { %>
                <li class="<%= group.commonFields.verify ? 'verified' : 'unverified' %>">
                    <strong>Batch:</strong> <%= group._id %><br>
                    <strong>Name:</strong> <%= group.commonFields.name %><br>
                    <strong>Email:</strong> <%= group.commonFields.email %><br>
                    <strong>Purchase Date:</strong> <%= group.commonFields.purchaseDate.toDateString() %><br>
                    <strong>Expiry Date:</strong> <%= group.commonFields.expiryDate  %><br>
                    <strong>Address:</strong> <%= group.commonFields.address %><br>
                    <strong>City:</strong> <%= group.commonFields.city %><br>
                    <strong>Pincode:</strong> <%= group.commonFields.pincode %><br>
                    <strong>State:</strong> <%= group.commonFields.state %><br>
                    <strong>Phone Number:</strong> <%= group.commonFields.phoneNumber %><br>
                    <strong>Bill:</strong> <a href="http://localhost:5000/<%= group.commonFields.billPdf %>" target="_blank"><%= group.commonFields.billPdf %></a><br>
                    <strong>Verified:</strong> <%= group.commonFields.verify ? 'Yes' : 'No' %><br>
                    <strong>Vendor:</strong> <%= group.commonFields.purchaseDetails %><br>
                    <strong>Warranty Type:</strong> <%= group.commonFields.warrantyType %><br>
                   

                    <h4>Serial Numbers and Models:</h4>
                    <ul>
                        <% group.serialAndModel.forEach(item => { %>
                            <li>Serial Number: <%= item.serialNumber %> - Model: <%= item.model %></li>
                        <% }); %>
                    </ul>

                    <% if (!group.commonFields.verify) { %>
                        <form action="http://localhost:5000/bulk-verify-warranty2" method="POST">
                            <input type="hidden" name="batch" value="<%=  group.commonFields.batch %>">
                            <input type="hidden" name="email" value="<%= group.commonFields.email %>">
                            <input type="hidden" name="name" value="<%= group.commonFields.name %>">
                            <input type="hidden" name="address" value="<%= group.commonFields.address %>">
                            <input type="hidden" name="city" value="<%= group.commonFields.city %>">
                            <input type="hidden" name="phoneNumber" value="<%= group.commonFields.phoneNumber %>">
                            <input type="hidden" name="model" value="<%= group.serialAndModel[0].model %>">
                            <input type="hidden" name="billPdf" value="<%= group.commonFields.billPdf %>">
                            <input type="hidden" name="warrantyType" value="<%= group.commonFields.warrantyType %>">
                           
                            <input type="number" name="duration" placeholder="Modify Duration" required>
                            <p>Modify Purchase Date:</p>
                            <input type="date" name="purchaseDate" placeholder="Modify purchaseDate" required>
                            <button type="submit" class="verify-btn">Verify</button>
                        </form>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>
    <script>
        function filterWarranties(status) {
            const warranties = document.querySelectorAll('#warrantyList li');
            warranties.forEach(warranty => {
                if (status === 'verified' && warranty.classList.contains('unverified')) {
                    warranty.style.display = 'none';
                } else if (status === 'unverified' && warranty.classList.contains('verified')) {
                    warranty.style.display = 'none';
                } else {
                    warranty.style.display = '';
                }
            });
        }
    </script>
</body>
</html>
